.row
  - if @authenticated
    .span8

      %h1 How about shortening a URL?

      .the_form
        %form.form-inline{ action: '/api/add', method: 'post' }
          %fieldset
            %input{ type: "hidden", name: "visual", value: "1" }
            %input.input-large{ type: 'text', placeholder: "Paste your long URL here...", name: 'url', id: 'url', size: 40, autocomplete: "off", spellcheck: 'false' }
            %span{ style: "font-size: 1.8em;" }= '>'
            %input.input-large{ type: 'text', placeholder: "Optional short code", name: 'short', id: 'short', size: 20, autocomplete: "off", spellcheck: 'false' }
            %input.btn.btn-primary{ type: 'submit', name: 'submit', id: 'submit', value: "Make it short!" }

    .span4
      %h2 Bookmarklet

      %p
        Drag the following link to your bookmarks. Click it to shorten the URL to the page you're currently viewing.
      %p
        %a{ href: "javascript:var%20d=document,w=window,enc=encodeURIComponent,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),s2=((s.toString()=='')?s:('%22'+enc(s)+'%22')),key=enc('#{@config[:api_key]}'),f='http://#{@config[:hostname]}/api/add',l=d.location,p='?visual=1&api_key='+key+'&url='+enc(l.href),u=f+p;try{if(!/^(.*\.)?tumblrzzz[^.]*$/.test(l.host))throw(0);tstbklt();}catch(z){a%20=function(){if(!w.open(u))l.href=u;};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();}void(0)" } Shorten with #{@config[:hostname]}

    .span12
      %h2 Recently shortened

      %table.table.table-hover
        %thead
          %tr
            %th(nowrap='nowrap') Short URL <a href="/?s=code&d=asc">▲</a> <a href="/?s=code&d=desc">▼</a>
            %th(nowrap='nowrap') Full URL <a href="/?s=url&d=asc">▲</a> <a href="/?s=url&d=desc">▼</a>
            %th(nowrap='nowrap') Clicks <a href="/?s=clicks&d=asc">▲</a> <a href="/?s=clicks&d=desc">▼</a>
            %th(nowrap='nowrap') Shortened At <a href="/?s=created_at&d=asc">▲</a> <a href="/?s=created_at&d=desc">▼</a>
        - @urls.each do |url|
          %tbody
            %tr{class: "#{ @highlight && @highlight == url ? 'info' : '' }"}
              %td
                %input{ type: "text", value: short_url(url), class: 'short_url', size: 31 }
              %td <a href="#{url.url}">#{truncate url.url, 130}</a>
              %td= url.clicks
              %td= url.created_at.strftime("%Y-%m-%d %H:%M")

      :javascript
        $(document).ready(function() {
          $('input.short_url').each(function(index) {
            $(this).mouseup(function() { $(this).select(); });
          });

          if (window.location.search == "") {
            var pathname = window.location.pathname + '?s=created_at&d=desc';
          } else {
            var pathname = window.location.pathname + window.location.search;
          }

          $('#main table tr td.label a').each(function(index) {
            if ($(this).attr('href') == pathname) {
              $(this).addClass('highlight');
            }
          });
        });



  - else
    .span12
      %h1 Please enter your API key

      %p
        Please enter your API key below to make sure only you can shorten URLs here.

      %form.form-horizontal{ action: '/api/set', method: 'post' }
        .control-group
          %label.control-label{ for: 'api_key' } API Key
          .controls
            %input.input-large{ type: 'password', name: 'api_key', id: 'api_key', placeholder: "API Key" }
        .control-group
          .controls
            %input.btn.btn-primary{ type: 'submit', name: 'submit', id: 'submit', value: "Let me in" }
