.row
  .span12

    %h1 http://#{@config[:hostname]}/#{@url.code}

    %table.table.table-hover
      %thead
        %tr
          %th Short URL
          %th Full URL
          %th Clicks
          %th Shortened at
      %tbody
        %tr
          %td
            %input{ type: "text", value: short_url(@url), class: 'short_url', size: 21 }
          %td <a href="#{@url.url}">#{@url.url}</a>
          %td= @url.clicks
          %td= @url.created_at.strftime("%Y-%m-%d %H:%M")

    %p
      %a{ href: "/" } &laquo; Back

:javascript
  $(document).ready(function() {
    $('input.short_url').each(function(index) {
      $(this).mouseup(function() { $(this).select(); });
    });
  });

