%p.link
  %a{ href: "/" } &laquo; Back

%h1 http://#{@config[:hostname]}/#{@url.code}

%table
  %tr
    %td.label Short URL
    %td.label Full URL
    %td.label Clicks
    %td.label Shortened at

  %tr
    %td.value
      %input{ type: "text", value: short_url(@url), class: 'short_url', size: 21 }
    %td.value.fill <a href="#{@url.url}">#{@url.url}</a>
    %td.value.center= @url.clicks
    %td.value= @url.created_at.to_time.strftime("%Y-%m-%d %H:%M")

:javascript
  $(document).ready(function() {
    $('input.short_url').each(function(index) {
      $(this).mouseup(function() { $(this).select(); });
    });
  });

