.row
  .col-md-12.col-lg-8.col-md-offset-2
    %h2 Make it short!
    = form

.row
  .col-md-12.col-lg-8.col-md-offset-2
    #recent
      - items.each do |item|
        .item[item]
          .row
            .col-xs-12
              .title= link_to item.content, item.content
              .content= link_to item.content, item.content
          .row
            .col-xs-8
              .short= link_to item.short_url, item.short_url
            .col-xs-4
              %ul.meta
                %li.statistics
                  %i.fa.fa-line-chart.fa-lg
                  = item.number_of_clicks
                %li.actions
                	= qrcode_link(item)
                  = delete_link(item)